.clearfix::before,
.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

.inner {
	max-width: 1200px;
	margin: 0 auto;
}

.body {
	background-color: #f2f2f2;
	font-family: raleway;
	color: #333;
}

li img {
	vertical-align: bottom;
}

.header {
	position: fixed;
	width: 100%;
	top: 0;
	background-color: #fff;
	z-index: 100;
}

.fa-bolt {
	color: gray;
	padding: 15px;
}

.fa-4x {
	float: left;
}

.nav-input {
	display: none;
}

.header-right {
	float: right;
}

.header-button {
	margin: 23px 20px 0 0;
	padding: 14px 12px;
	color: #fff;
	font-size: 12px;
	background-color: #74cfae;
	border: none;
}

.container {
	width: 100%;
	height: 30px;
}

.main-title-box {
	padding: 250px;
	margin-top: 96px;
	text-align: center;
}

.main-title {
	font-size: 90px;
	font-weight: 700;
	color: #74cfae;
}

.sub-title {
	margin-top: 20px;
	font-size: 30px;
	color: #c0c0c0;
}

.second-box {
	text-align: center;
	width: 100%;
	display: table;
	padding-top: 50px;
	color: #fff;
	background-color: #74cfae;
}

.second-mini-box {
	display: inline-block;
}
.we-can-img {
	display: inline-block;
	position: relative;
}

.second-text-box {
	width: 700px;
	display: inline-block;
	margin: 50px 0 0 150px;
	line-height: normal;
	vertical-align: top;
}

.second-title {
	font-size: 24px;
}

.second-text {
	margin-top: 35px;
	font-size: 20px;
	padding: 0 15px 30px;
}

.third-box {
	margin-top: 60px;
	text-align: center;
}

.third-title {
	font-size: 24px;
}

.photo-box {
	/*display: inline-block;*/
	margin-top: 40px;
}

.photo {
	display: inline-block;
	margin: 40px 0 0 100px;
	opacity: 0.7;
}

.photo:hover{
	opacity: 1;
}

.photo-list > li:nth-child(-n+3) {
	margin-top: 0;
}

.photo-list > li:nth-child(3n+1) {
	margin-left: 0;
}

.third-bottom-box {
	display: inline-block;
	margin-top: 50px;
}

.third-text {
	width: 500px;
	line-height: normal;
	display: inline-block;
}

.mail-button {
	display: inline-block;
	font-size: 12px;
	padding: 14px 20px;
	margin-left: 90px;
	color: #fff;
	background-color: #74cfae;
	border-radius: 5px;
	border: none;
	vertical-align: top;
}

.skill-box {
	background-color: #4e4e4e;
	color: #fff;
	padding-top: 70px;
	margin-top: 70px;
	text-align: center;
}

.fourth-title {
	font-size: 25px;
}
.circle-box {
	display: table;
	font-size: 16px;
}

.circle {
	display: table-cell;
	float: left;
	margin: 70px 0 100px 180px;
}

.circle:first-child {
	margin-left: 0px;
}

.circle-word {
	margin-top: 20px;
}

.sns-box {
	padding: 200px 0;
}

.sns-list {
	display: table;
}

.sns {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	width: 185px;
	height: 100px;
}

.sns:hover {
	background-color: #fff;
	cursor: pointer;
}

.color {
	color: #74cfae;
}

.footer-box {
	width: 100%;
	color: #fff;
	background-color: #74cfae;
}

.footer-text {
	padding: 30px 15px;
	float: right;
}

.fa-heart {
	padding: 3px;
}

@media screen and (min-width: 767px) and (max-width: 1199px) {

.main-title-box {
	padding: 250px 0;
}

.humberger {
	display: none;
}

.we-can-img {
	margin: 50px 0 20px;
	display: block;
}

.second-text-box {
	width: 100%;
	margin: 0;
	margin-bottom: 25px;
	display: block;
}

.photo-list {
	display: block;
}

.photo {
	display: block;
	margin: 0 auto;
	float: none;
}

.photo-list > li:nth-child(4) {
	margin-top: 80px;
}

.circle {
	float: none;
	display: block;
	margin: 88px 0;
}

.third-text {
	width: 100%;
}

.sns-box {
	padding: 200px 80px;
}
.mail-button {
	top: 0;
	margin: 40px 0 0 0;
}
}

@media screen and (max-width: 766px) {

.main-title {
	font-size: 80px;
}

.main-title-box {
	padding: 160px 0 130px;
}

.header-right {
	display: none;
}

.header-button {
	width: 100vw;
	margin: 0 auto;
	text-align: left;
}

.nav-input:checked + .header-right {
	display: block;
}

.humberger {
	padding: 10px;
	margin: 20px;
	border: 1px solid #ddd;
	border-radius: 4px;
	float: right;
}

.humberger span {
	display: block;
	height: 2px;
	width: 35px;
	background-color: #ddd;
	margin: 7px 1px;
}

.second-box {
	display: block;
}

.second-text-box {
	margin: 0;
	width: 100%;
}

.second-mini-box {
	display: block;
}

.we-can-img {
	display: block;
}

.photo-list {
	display: block;
	margin-top: 0;
}

.photo {
	display: block;
	margin: 0;
	float: none;
}

.photo:first-child {
	margin-top: 40px;
}

.photo-list > li:nth-child(4) {
	margin-top: 80px;
}

.circle {
	display: block;
	margin: 70px 0;
	float: none;
}

.third-text {
	width: 100%;
}

.mail-button {
	margin: 40px 0 0;
}

.sns-box {
	padding: 0;
}

.sns-list {
	display: block;
	padding: 0 15px;
	margin: 50px 0;
}

.sns {
	display: table;
	margin: 0 auto;
	width: 100%;
}

.fa-3x {
	display: table-cell;
	vertical-align: middle;
}
}